@import url('https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply
        bg-indigo-600
        hover:bg-indigo-500
        text-white
        font-medium
        p-2
        rounded-md
        transition-all
        duration-200;
    }

    .btn-secondary {
        @apply
        bg-gray-600
        hover:bg-gray-500
        text-white
        font-medium
        p-2
        rounded-md
        transition-all
        duration-200;
    }

    .btn-outline {
        @apply
        p-2
        rounded-md
        border
        shadow-md
        border-gray-300
        dark:border-gray-800
        hover:border-gray-400
        hover:bg-gray-50
        dark:hover:border-gray-700
        dark:hover:bg-gray-800
        transition-all
        duration-300;
    }

    .input {
        @apply
        block
        w-full
        p-2
        rounded-md
        shadow-sm
        border
        border-gray-300
        dark:border-gray-600
        text-gray-500;
    }

    .input-error {
        @apply
        text-sm
        text-red-500
        dark:text-red-400;
    }

    .label {
        @apply
        block
        mb-1
        text-gray-500
        dark:text-gray-300
        font-medium;
    }

    .slider {
        @apply
        w-full
        h-4
        bg-gray-200
        dark:bg-gray-700
        rounded-lg
        appearance-none
        cursor-pointer;
    }

    .filter-input-left {
        @apply
        placeholder:text-gray-400
        dark:placeholder:text-gray-600
        border
        border-gray-200
        dark:border-gray-700
        rounded-t-md
        rounded-b-md
        rounded-l-md
        rounded-r-none
        text-sm
        font-medium
        text-gray-600
        dark:text-gray-400
        dark:bg-gray-800
    }

    .filter-input-right {
        @apply
        placeholder:text-gray-400
        dark:placeholder:text-gray-600
        border
        border-gray-200
        dark:border-gray-700
        rounded-t-md
        rounded-r-md
        rounded-b-md
        rounded-l-none
        text-sm
        font-medium
        text-gray-600
        dark:text-gray-400
        dark:bg-gray-800
    }
}
